<div class="container">
    <div class="row">
        <div class="col-md-4">
        <menu>
        <ul class="coffee">
            <div class="text-center">
                <h3>Menu</h3>
            </div>
            <li *ngFor="#coffee of coffee"
                [class.selected]="coffee === selectedCoffee"
                (click)="onSelect(coffee)">
                <span class="badge">{{coffee.price}} Baht</span> {{coffee.name}} 
            </li>
            </ul>
        </menu>
        </div>
        <div class="col-md-4">
            <div *ngIf="selectedCoffee" class="overflow:hidden">
                <h3>{{selectedCoffee.name}}</h3>
                <div><label>Price: </label>{{selectedCoffee.price}} Baht</div>
                <div>
                    <img src="{{selectedCoffee.image}}" alt="" class="img-responsive img-custom">
                    <br>
                    <button (click)="addOrder(selectedCoffee)" class="btn btn-add">Add Order</button>
                </div>
                <h5>Recently added : {{recentCoffee}}</h5>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Order</h3>
            <h5><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                You have {{orderNumber}} orders
            </h5>
            <h5>Total Price : {{orderPrice}} Baht</h5>
            <ul class="coffee">
                <li *ngFor="#item of order">
                    <button (click)="removeOrder(item)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <span> {{item.name}}</span>
                </li>
            </ul>
            <button (click)="checkOutOrder()" class="btn btn-checkout">Check Out</button>
        </div>
    </div>
</div>